# Dependencies
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Build
dist/
build/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Docker
docker-data/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Temporary
tmp/
temp/